APP_NAME=API de Recomendação de Livros
API_PREFIX=/api/v1

# Backend executado no computador:
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/livros

# Caso o backend também rode no Docker Compose, use o nome do serviço:
# DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/livros

EMBEDDING_MODEL=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
EMBEDDING_DIMENSIONS=384
CORS_ORIGINS=http://localhost:3000
